.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  position: relative;
}

.artist-card {
  text-align: center;
  margin: 0 20px;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  position: absolute;
  width: 50%; /* Image takes up half of the screen */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artist-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.artist-card h2 {
  margin: 10px 0;
  position: absolute;
  bottom: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.artist-card p {
  font-size: 18px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.buttons {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  gap: 10px;
}

.buttons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 5px;
}

.streak {
  position: absolute;
  top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.stat-indicator {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.slide-left {
  transform: translateX(-100%);
  opacity: 1;
}

.slide-out-right {
  transform: translateX(100%);
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.metric-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}
